<div class="graph-container">

  <!-- HEADER SECTION -->
  <div class="graph-header">

    <h3 class="title">{{ title }}</h3>

    <div class="filters">
      <input
  #datepicker
  class="date-input"
  placeholder="Start – End"
/>



<button 
  class="filter-btn" 
  (click)="applyFilter()" 
  [disabled]="isLoading">
  
  <div *ngIf="isLoading" class="spinner"></div>
  <span *ngIf="!isLoading">FILTER</span>
</button>


    </div>

  </div>

  <!-- GRAPH -->
  <div echarts class="graph-box" [options]="options"></div>

  <!-- TABLE SECTION -->
  <table class="summary-table">
    <thead>
      <tr>
        <th>Component</th>
        <th>Average</th>
        <th>Minimum</th>
        <th>Maximum</th>
        <th>R Limit</th>
        <th>Unit</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of tableData">
        <td style="text-align: left; padding-left: 8px;">{{ row.component }}</td>
        <td>{{ row.avg }}</td>
        <td>{{ row.min }}</td>
        <td>{{ row.max }}</td>
        <td>{{ row.limit }}</td>
        <td>{{ row.unit }}</td>
      </tr>
    </tbody>
  </table>

</div>
