<div class="dashboard-page">

  <!-- KPI + GAUGE SECTION -->
  <div class="top-metrics-group">

    <!-- 3x2 KPI GRID -->
    @if (kpisLoading) {
      <mat-progress-spinner 
      color="primary" 
      mode="indeterminate" 
      diameter="50" 
      class="mx-auto my-5" />
    } @else {
      <div class="kpi-grid">
        @for (k of kpis; track k.label) {
          <kpi-tile 
            [label]="k.label"
            [value]="k.value"
            [color]="k.color">
          </kpi-tile>
        } @empty {
          <p>No KPIs available.</p> 
        }
      </div>
    }
    


    <!-- Gauge on the right -->
    <div class="gauge-container">
      <gauge-chart [value]="35"></gauge-chart>
    </div>
  </div>

  <!-- GRAPHS SECTION -->
   <div class="graphs-section">
    <analytics-graph title="DAY DATE & TIME"
      (dateFilterChanged)="applyDateFilter($event, 'day')"
      [graphData]="dayGraph"
      [tableData]="dayTable">
    </analytics-graph>

    <analytics-graph title="WEEK DATE & TIME"
    [graphData]="weekGraph"
    [tableData]="weekTable">
    </analytics-graph>

    <analytics-graph title="MONTH DATE & TIME"
    [graphData]="monthGraph"
    [tableData]="monthTable">
    </analytics-graph>
  </div> 

</div>
